# Flask App Config
SECRET_KEY=your_super_secret_key_here
FLASK_APP=run.py
FLASK_DEBUG=1

# Email Config (Flask-Mail)
# If using Gmail, use an App Password
MAIL_SERVER=smtp.googlemail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_DEFAULT_SENDER=your_email@gmail.com
